benchmark
*.gcda
*.gcno
*.gcov
*.o
*.a
*.d
*~
*.prof
*.pdf
lib/libhydra.a
lib/libhydra_mpi.a
options.mk
test/tests
testmpi/tests
benchmark.prof
benchmark.prof_*
examples/hb_chain_dynamical_sf/main
examples/hb_chain_dynamical_sf/outfiles/*
examples/hb_chain_dynamical_sf_nosym/main
examples/hb_chain_dynamical_sf_nosym/outfiles/*
examples/hb_chain_dynamical_sf_ftlm/main
examples/hb_chain_dynamical_sf_ftlm/outfiles/*
examples/hb_chain_dynamical_sf_ftlm/data/*
examples/spinhalf_chain/main
examples/tfi_timeevolve/main
examples/spinhalf_chain_syms/main
**main
**output.txt
**output.pdf