cmake_commands.sh
build
benchmarks
install
julia/products
julia/build_tarballs.jl
site
misc/dump/*
build/*
docs/autoreference
cmake-build-debug
examples/*/build
examples/*/outfiles
examples/*/build/*
examples/*/outfiles/*
benchmark/old
benchmark/*/build
benchmark/*/build/*
.DS_Store
*.gcda
*.gcno
*.gcov
*.o
*.a
*.d
*~
*.prof
*.pdf
options.mk
test/tests
misc/data/toml/write.toml
misc/data/hdf5/write.h5
testmpi/tests
benchmark.prof
benchmark.prof_*
lcov-report
xdiag/config.hpp
examples/tutorial/.ipynb*
examples/hb_chain_dynamical_sf/main
examples/hb_chain_dynamical_sf/outfiles/*
examples/hb_chain_dynamical_sf_nosym/main
examples/hb_chain_dynamical_sf_nosym/outfiles/*
examples/hb_chain_dynamical_sf_ftlm/main
examples/hb_chain_dynamical_sf_ftlm/outfiles/*
examples/hb_chain_dynamical_sf_ftlm/data/*
examples/convert_lfile/convert_lfile
examples/spinhalf_chain/main
examples/tfi_timeevolve/main
examples/spinhalf_chain_syms/main
examples/dynamics_t_0/hb_chain_dynamical_sf_nosyms/outfiles/*
examples/dynamics_finite_t/hb_chain_dynamical_sf_fulled/outfiles/*
examples/dynamics_finite_t/hb_chain_dynamical_sf_fulled_nosyms/outfiles/*
examples/dynamics_finite_t/shastry_sutherland_fulled/outfiles/
examples/thermodynamics/checkerboard_fulled/main
examples/thermodynamics/checkerboard_fulled/moments/*
examples/thermodynamics/checkerboard_fulled/outfiles/*
examples/thermodynamics/checkerboard_tpq/main
examples/thermodynamics/checkerboard_tpq/moments/*
examples/thermodynamics/checkerboard_tpq/outfiles/*
**main
**output.txt
**output.pdf
