:root {
  --md-admonition-icon--method: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z"/></svg>')
}

.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
    padding: 4px 10px;
}

.md-typeset .admonition.method,
.md-typeset details.method {
  border-color: rgb(158, 158, 158);
}
.md-typeset .method > .admonition-title,
.md-typeset .method > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .method > .admonition-title::before,
.md-typeset .method > summary::before {
  background-color: rgba(158, 158, 158, 0.5);
  -webkit-mask-image: var(--md-admonition-icon--method);
          mask-image: var(--md-admonition-icon--method);
}
